{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "next/core-web-vitals",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "comma-dangle": ["error", {
      "objects": "always-multiline",
      "arrays": "always-multiline",
      "imports": "always-multiline",
      "exports": "always-multiline",
      "functions": "never"
    }],
    "max-len": ["warn", { "code": 120, "ignoreStrings": true }],
    "quotes": "off",
    "@typescript-eslint/quotes": ["error", "single"],
    "jsx-quotes": ["error", "prefer-double"],
    "@typescript-eslint/no-unused-vars": "error",
    "@typescript-eslint/no-explicit-any": "error"
  },
  "env": {
    "node": true,
    "browser": true,
    "jest": true
  },
  "globals": {
    "JSX": true
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "ecmaFeatures": {
      "legacyDecorators": true,
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "version": "18"
    }
  }
}